        *
	    {
	        margin:0px;
	        padding:0px;
	        box-sizing:border-box;
	    }
        #main{
            background-color: #332233;
            height: 500px;
            width: 750px;
            margin-top: 70px;
            padding-top: 70px;
            border-radius: 5% 20%;
            border:5px solid #cfd9de;
        }
        
        body{
            background-color: #3d6cb9;
        }